<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-info mr-2"
                                (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedItems()"
                                [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-info"
                            (click)="dt.exportCSV({selectionOnly:true})"
                            [disabled]="!selectedItems || !selectedItems.length"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" styleClass="p-datatable-gridlines"
                     responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['createdAt, fullName', 'email']"
                     [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} items"
                     [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Times</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Pesquisar..."/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th class="text-center" pSortableColumn="Id">Id
                            <p-sortIcon field="Id"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="Name">Name
                            <p-sortIcon field="Name"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="ResourceType">ResourceType
                            <p-sortIcon field="ResourceType"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="ResourceGroups">ResourceGroups
                            <p-sortIcon field="ResourceGroups"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td class="text-center" style="width:14%; min-width:10rem;">
                            {{item.Id }}
                        </td>
                        <td class="text-center" style="width:14%; min-width:10rem;">
                            {{item.Name }}
                        </td>
                        <td class="text-center" style="width:14%; min-width:10rem;">
                            {{item.ResourceType | json }}
                        </td>
                        <td class="text-center" style="width:14%; min-width:10rem;">
                            {{item.ResourceGroups | json }}
                        </td>
                        <td class="text-center">
                            <div >
                                <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-info mr-2"
                                        (click)="editItem(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="itemDialog" [style]="{ width: '450px' }" header="Time" [modal]="true"
                  class="p-fluid">
            <ng-template pTemplate="content">

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button p-button-danger mr-2"
                        (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-info"
                        (click)="saveItem()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemsDialog" header="Pense bem" [modal]="true" [style]="{width:'450px'}"
        class="p-fluid">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você tem certeza que quer deletar o(s) {{selectedItems?.length}} item(s) selecionado(s)?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Não" icon="pi pi-times" class="p-button p-button-danger mr-2"
                        (click)="hideDeleteItemsDialog()"></button>
                <button pButton pRipple label="Sim" icon="pi pi-check" class="p-button-info"
                        (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
